   /* Example CSS styles, customize as needed */
  
   body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:1rem;
    }
    header{
        margin-top:1rem;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:1rem;
    }
   


   #nickname, #message {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
  }

  #sendButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

  #chat {
    
    height: 400px;
    width:500px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
  }


