@import url("./root.css");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header {
  margin-top: 1rem;
}
h1{
  color:var(--main-accent);
  border-radius: var(--radius);
  width:var(--chat--width);
  height:60px;
  display: grid;
  place-content: center;
  background-color: var(--main-light);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


::-webkit-scrollbar {
  width: 10px;
 }

 ::-webkit-scrollbar-thumb {
  background:var(--main-accent);
  border-radius: 10px; /* this will round the corners of the scrollbar */
 }

 ::-webkit-scrollbar-thumb:hover {
  background: var(--main-light);
 }

 ::-webkit-scrollbar-thumb:active {
  /* background:#61afef; */
 }