:root{
    --width : 500px;
    --height: 600px;
    --chat--width : 500px; /*height - 100px*/
    --chat--height : 500px;
    --black--border : 1px solid black;
    --radius : 15px;
    --padding:20px;
    --main-accent: rgb(239, 108, 0);
    --main-light : #eceff4;
    --main-dark : #2f343f;
}
